<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <section class="preference">

		<div>
			<div class="caption red">Red</div>
			<label for="red" class="brightness fa">
				<input id="red" type="range" min="0" max="255" step="1"  [(ngModel)]="redValue">
			</label>
		</div>

		<div>
			<div class="caption green">Green</div>
			<label for="green" class="brightness fa">
				<input id="green" type="range" min="0" max="255" step="1" value="0">
			</label>
		</div>
		
		<div>
			<div class="caption blue">Blue</div>
			<label for="blue" class="brightness fa">
				<input id="blue" type="range" min="0" max="255" step="1" value="0">
			</label>
		</div>

	</section>

      </div>
    </div>
  </div>