@import "variables";

input, input:hover, input:focus, input:active textarea {
	border: 0;
	outline: 0;
}

.hide {
	display: none;
}


/* Import */
@import url("http://fonts.googleapis.com/css?family=Sniglet|Oswald");

body, html {
  margin: 0px; 
  padding: 0px; 
  background-color: $body-bg; 
  font-family: Sniglet; 
  text-align: center; 
  color: $white-color;
}

h1 {
  color: #ecf0f1; 
  text-align: center; 
  font-size: 40px; 
  margin: 0px; 
  height: 70px; 
}

input {
  -webkit-appearance: none; 
  width: 160px; 
  height: 20px; 
  margin: 10px 50px; 
  background: linear-gradient(to right, #16a085 0%, #16a085 100%); 
  background-size: 150px 10px; 
  background-position: center; 
  background-repeat: no-repeat; 
  overflow: hidden; 
  outline: none; 
  zoom: 130%; 
  display: block; 
  margin: auto; 
  margin-bottom: 30px; 
}

input::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 20px; 
  height: 20px; 
  background: #27ae60; 
  position: relative; 
  z-index: 3; 
}

input::-webkit-slider-thumb:after {
  content: " "; 
  width: 160px; 
  height: 10px; 
  position: absolute; 
  z-index: 1; 
  right: 20px; 
  top: 5px; 
  background: #2ecc71; 
}

.green::-webkit-slider-thumb {
  background: #27ae60; 
}

.green::-webkit-slider-thumb:after {
  background: #2ecc71; 
}

.red::-webkit-slider-thumb {
  background: #c0392b; 
}

.red::-webkit-slider-thumb:after {
  background: #e74c3c; 
}

.blue::-webkit-slider-thumb {
  background: #2980b9; 
}

.blue::-webkit-slider-thumb:after {
  background: #3498db; 
}

.orange::-webkit-slider-thumb {
  background: #d35400; 
}

.orange::-webkit-slider-thumb:after {
  background: #e67e22; 
}

.purple::-webkit-slider-thumb {
  background: #8e44ad; 
}

.purple::-webkit-slider-thumb:after {
  background: #9b59b6; 
}

.gray::-webkit-slider-thumb {
  background: #7f8c8d; 
}

.gray::-webkit-slider-thumb:after {
  background: #95a5a6; 
}

.one {
  width: 0px; 
  height: 0px; 
  background-color: transparent; 
  line-height: 30px; 
  color: #ecf0f1; 
  cursor: pointer; 
  border: 70px solid transparent; 
  border-left: 70px solid #16a085; 
  border-top: 70px solid #16a085; 
  left: 0px; 
  top: 0px; 
  position: absolute; 
}

a {
  text-decoration: none; 
}

.one span {
  margin-left: -60px; 
  position: absolute; 
  margin-top: -40px; 
}

.two {
  width: 0px; 
  height: 0px; 
  background-color: transparent; 
  line-height: 30px; 
  color: #ecf0f1; 
  cursor: pointer; 
  border: 70px solid transparent; 
  border-right: 70px solid #16a085; 
  border-top: 70px solid #16a085; 
  right: 0px; 
  top: 0px; 
  position: absolute; 
}

.two span {
  margin-left: -15px; 
  position: absolute; 
  margin-top: -40px; 
  white-space: nowrap; 
}

.square-color {
  height: 50px;
  cursor: pointer;
  &.red {
    background: #ff0000;
  }
  &.green {
    background: #00ff00;
  }
  &.blue {
    background: #0000ff;
  }
  &.purple {
    background-color: #F20FE3;
  }
   &.cyan {
    background-color: #0FC9F2;
  } 
   &.yellow {
    background-color: #FFF700;
  }
}
