<div class="vl-wrapper">
    <section class="vl-camera">
            <div class="vl-camera-trigger"></div>
            <h2>Camera</h2>
            <div class="vl-timmer">
                <p>Timmer</p>
                <div class="vl-timer-counter">
                    <span class="vl-timer-number">0</span>
                    <div class="vl-button-number">-</div>
                    <div class="vl-button-number">+</div>
                </div>
            </div>
    </section>

    <section class="vl-actions">
        <div class="vl-action-option vl-ligth-option">
            <div class="vl-icon vl-icon-lights"></div>
            <p>Turn on lights</p>
            <div class="toggle-btn ">
              <input type="checkbox"  checked class="cb-value" />
              <span class="round-btn"></span>
            </div>
        </div>

        <div class="vl-action-option vl-rainbow-option">
            <div class="vl-icon vl-icon-rainbow"></div>
            <p>Rainbow effect</p>
            <div class="toggle-btn active">
              <input type="checkbox"  checked class="cb-value" />
              <span class="round-btn"></span>
            </div>
        </div>

         <div class="vl-action-option vl-fade-option">
            <div class="vl-icon vl-icon-fade"></div>
            <p>Fade effect</p>
            <div class="toggle-btn active">
              <input type="checkbox"  checked class="cb-value" />
              <span class="round-btn"></span>
            </div>
        </div>

         <div class="vl-action-option vl-motion-option">
            <div class="vl-icon vl-icon-motion"></div>
            <p>Motion sensor</p>
            <div class="toggle-btn">
              <input type="checkbox"  checked class="cb-value" />
              <span class="round-btn"></span>
            </div>
        </div>
    </section>

    <section class="vl-colour-palette">
        <div class="vl-colour-box vl-colour-red"></div>
        <div class="vl-colour-box vl-colour-green"></div>
        <div class="vl-colour-box vl-colour-blue"></div>
        <div class="vl-colour-box vl-colour-purple"></div>
        <div class="vl-colour-box vl-colour-cyan"></div>
        <div class="vl-colour-box vl-colour-yellow"></div>
    </section>
</div>