//== FONTS
$font-size-base   : 14px !default;
$font-size-large  : ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small  : ceil(($font-size-base * 0.85)) !default; // ~12px
$font-family:  'Raleway', sans-serif;

//== Colors
$white-color      : #faf2f2 !default;
$body-bg          : #f6f0f0 !default;
$font-color 	  : #575964 !default;

$color-blue          : #0084ff;
$color-green         : #2dc100;
$color-yellow         : #f0ad4e;

$color-success       : #5cb85c !default; 
$color-info          : #5bc0de !default;
$color-warning       : $color-yellow  !default;
$color-danger        : #d9534f !default;

$gray-ligth: #ece5e6 !default;

//** Theme Colors
$color-theme-one: #e57261 !default;
$color-theme-two: #41bdbd !default;
$color-theme-three: #d66d93 !default;
$color-theme-four: #7d4b82 !default;
$color-theme-five: #eacb5f !default;

//URL Images
$images-url : "../../images/";